figcaption {
    display: none;
    }
    
    figure {
        display: inline-block;
    }
    
    .avt {
        width: 109px;
        height: 109px;
        border: 1px solid black;
        margin-left: 12px;
        margin-top: 40px;
    }
    
    body {
        margin: 40px;
        font-family: "Adobe Caslon Pro", "Minion Pro", serif;
        font-size: 12pt;
    }
    
    header {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
        background-color: rgba(264, 194, 120, 0.1);
        border-top: 1px solid black;
        width: 2000px;
        margin: auto;
    }
    
    header h1 {
        display: inline-block;
        position: relative;
        bottom: 35px;
        font-size: 30pt;
        letter-spacing: 10pt;
        margin-left: 2%;
    }
    
    header ul {
        font-size: 10pt;
        float: right;
    }
    
    .about {
        border-bottom: 1px solid black;
    }
    
    .about p {
        padding-left: 9%;
        position: relative;
        bottom: 30px;
    }
    
    .skills {
        border-bottom: 1px solid black;
    }
    
    .skills ul {
        padding-left: 9%;
        position: relative;
        bottom: 30px;
    }
    
    .code {
        border-bottom: 1px solid black;
    }
    
    code {
        padding-left: 9%;
        position: relative;
        bottom: 20px;
    }
    
    .experience {
        border-bottom: 1px solid black;
    }
    
    .experience ol {
        padding-left: 9%;
        position: relative;
        bottom: 20px;
    }
    
    .experience ul {
        padding-left: 9%;
        position: relative;
        bottom: 20px;
    }
    
    .education {
        border-bottom: 1px solid black;
    }
    
    .education ul {
        padding-left: 9%;
        position: relative;
        bottom: 43px;
    }
    
    .english p {
        padding-left: 9%; 
    }
    
    h2 {
        color: rgb(151, 151, 14);
    }
    
    h3 {
        padding-left: 8%;
        position: relative;
        bottom: 20px;
    }
    
    footer {
        position: relative;
        top: 120px;
        font-size: 12px;
        margin: auto;
        width: 2000px;
    }

    section {
        margin: auto;
        width: 2000px;
    }